@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:"Plus Jakarta Sans",sans-serif;
    background:#09090B;
    color:white;
    overflow-x:hidden;
}

::selection{
    background:#9333EA;
    color:white;
}